@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

:root {
  --white: #f5f5f5;
  --opaque-black: rgba(0, 0, 0, 0.25);
  --black: #171717;
  --dark-grey: rgba(0, 0, 0, 0.75);
  --light-grey: #e9e9e9;
  --purple: #6c63ff;
  --light-purple: #8b84fa;
  --light-sea-green: #3ad29f;
  --dark-sea-green: #155e46;
  --very-light-grey: #ccc;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--white);
  font-family: 'Poppins', sans-serif;
  color: var(--black);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

.intro h2 {
  color: var(--black);
  text-align: center;
}

.intro p {
  /*text-indent: 2em;*/
  max-width: 65ch;
}
/* ch is based on character width */

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.01em;
  width: 95%;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin: auto;
  border-radius: 0.7em;
}

#form section {
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.25);
  border-radius: 0.7em;
  width: 100%;
  padding: 0.5em;
  margin: 0.5em;
}

#form p {
  width: 100%;
  text-align: center;
}

.formInstructions {
  font-weight: bold;
  font-size: 0.8em;
}

.allCatsSection {
  font-size: 0.8em;
}

#form h4 {
  text-align: center;
}

#form h2 {
  text-align: center;
}

#form div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  font-size: 0.8em;
}

input[type='checkbox'] {
  position: relative;
  cursor: pointer;
  padding: 1em;
}

input[type='checkbox']:before {
  margin-right: 0.5em;
  content: '';
  display: block;
  position: absolute;
  width: 1.28em;
  height: 1.28em;
  top: 0;
  left: 0;
  background-color: var(--light-grey);
  border: 0.05em solid var(--black);
}

input[type='checkbox']:checked:before {
  content: '';
  display: block;
  position: absolute;
  width: 1.28em;
  height: 1.28em;
  top: 0;
  left: 0;
  background-color: var(--purple);
}

input[type='checkbox']:checked:after {
  content: '\2713';
  display: block;
  text-align: center;
  width: 0.3em;
  height: 0.65em;
  color: var(--white);
  position: absolute;
  left: 0.3em;
}

.showAllCatsButton {
  text-align: center;
}

.submitButton {
  text-align: center;
}

#form button {
  width: 80%;
  margin: auto;
  background-color: var(--purple);
  border: none;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.25);
  color: var(--white);
  padding: 1em 3.5em;
  border-radius: 0.5em;
  transition-duration: 0.4s;
}

#form button:hover {
  background-color: var(--light-purple);
  color: var(--white);
}

select {
  font-size: 0.8em;
  padding: 0.6em 0.5em 0.6em 0.8em;
  background: var(--white);
  border: 0.06em solid var(--very-light-grey);
  border-radius: 0.3em;
  overflow: hidden;
  position: relative;
}

select:hover {
  background-color: var(--light-grey);
}

@media only screen and (min-width: 48em) {
  .intro p {
    font-size: 1.2em;
  }

  #form {
    width: 80%;
    padding: 2em;
  }
  #form button {
    width: 50%;
  }
  .formInstructions {
    font-weight: bold;
    font-size: 1em;
  }
}

@media only screen and (min-width: 64.5em) {
  .intro {
    font-size: 1.4em;
  }

  #form {
    width: 55%;
    padding: 3em;
  }

  #form section {
    padding: 1.5em;
  }

  #form div {
    font-size: 1.2em;
  }

  .formInstructions {
    font-size: 1.4em;
  }

  .allCatsSection {
    font-size: 1.2em;
  }
  #form h2 {
    font-size: 2.2em;
  }
  #form h4 {
    font-size: 1.3em;
  }

  #form button {
    font-size: 1.3em;
  }
}

footer button {
  background: var(--white);
  color: var(--black);

  text-decoration: underline;
  border: none;
}

#modal {
  display: none;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 0.05em solid var(--opaque-black);
  border-radius: 0.4em;
  color: var(--dark-grey);

  width: fit-content;
}

#modal a {
  color: var(--dark-sea-green);
}

#modal a:visited {
  color: var(--purple);
}

#modal h1 {
  font-size: 1.2em;
  text-align: center;
  color: var(--dark-grey);
}

#modal p,
#modal button {
  font-size: 0.9em;
}

#modal p {
  padding: 0 0.5em;
}

footer button,
#modal button {
  cursor: pointer;
}

#modal button {
  background: var(--purple);
  color: var(--white);

  letter-spacing: 0.04em;
  text-decoration: none;

  margin-top: 0.75em;
  padding: 1em 1.5em;

  border: none;
  border-radius: 0.5em;

  transition-duration: 0.4s;
}

#modal button:hover {
  background: var(--purple);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin: 0.5em 2em 1em;
}

.scroll-top-wrapper {
  display: flex;
  justify-content: center;
}

.scroll-top {
  background: var(--purple);
  color: white;
  text-decoration: none;
  margin-top: 0.75em;
  padding: 1em 1.5em;
  border: none;
  border-radius: 0.5em;
}

.scroll-top:hover {
  background-color: var(--light-purple);
}

footer {
  margin: 1em;

  display: flex;
  flex-direction: column;
}

.footer-link,
.copyright {
  text-align: center;
}

.footer-link {
  font-size: 20px;
}

.heart-icon {
  font-size: 30px;
}

.copyright {
  font-size: 15px;
}

.heart-icon {
  color: var(--purple);
}

.site-link {
  text-decoration: none;
  color: var(--black);
}
