@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

:root {
  --white: #f5f5f5;
  --opaque-black: rgba(0, 0, 0, 0.25);
  --black: #171717;
  --dark-grey: rgba(0, 0, 0, 0.75);
  --light-grey: #e9e9e9;
  --purple: #6c63ff;
  --light-purple: #8b84fa;
  --light-sea-green: #3ad29f;
  --dark-sea-green: #155e46;
  --very-light-grey: #ccc;

  --modal-light-grey: rgba(250, 249, 249, 0.55);
  --modal-shadow: rgba(0, 0, 0, 0.1);
  --modal-border: #6c63ff;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--white);
  font-family: 'Poppins', sans-serif;
  color: var(--black);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.intro h2 {
  color: var(--black);
  text-align: center;
}
.intro p {
  /*text-indent: 2em;*/
  max-width: 65ch;
} /* ch is based on character width */

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.01em;
  width: 95%;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin: auto;
  border-radius: 0.7em;
}

#form fieldset {
  border: none;
  width: 100%;
  padding: 0.5em;
  margin: 0.5em;
  margin-top: 40px;
}

#form p {
  width: 100%;
  text-align: center;
}

.intro h2 {
  color: var(--black);
  text-align: center;
  font-size: 30px;
}

.intro p {
  /*text-indent: 2em;*/
  max-width: 65ch;
}
/* ch is based on character width */

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.01em;
  width: 95%;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin: auto;
  border-radius: 0.7em;
}

#form section {
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.25);
  border-radius: 0.7em;
  width: 100%;
  padding: 0.5em;
  margin: 0.5em;
}

#form p {
  width: 100%;
  text-align: center;
}

.formInstructions {
  font-weight: bold;
  font-size: 0.8em;
}

legend {
  font-size: 20px;
  font-weight: bold;
}

.allCatsSection {
  font-size: 0.8em;
}

#form h4 {
  text-align: center;
}

#form h2 {
  text-align: center;
}

#form fieldset div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  font-size: 0.8em;
}

input[type='checkbox'] {
  position: relative;
  cursor: pointer;
  padding: 1em;
}

input[type='checkbox']:before {
  margin-right: 0.5em;
  content: '';
  display: block;
  position: absolute;
  width: 1.28em;
  height: 1.28em;
  top: 0;
  left: 0;
  background-color: var(--light-grey);
  border: 0.05em solid var(--black);
  border-radius: 0.3em;
}

input[type='checkbox']:checked:before {
  content: '';
  display: block;
  position: absolute;
  width: 1.28em;
  height: 1.28em;
  top: 0;
  left: 0;
  background-color: var(--purple);
}

input[type='checkbox']:checked:after {
  content: '\2713';
  display: block;
  text-align: center;
  width: 0.3em;
  height: 0.65em;
  color: var(--white);
  position: absolute;
  left: 0.3em;
}

.showAllCatsButton {
  text-align: center;
}

div.submitButton  button{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center!important;
}

#form button {
  width: 80%;
  margin: auto;
  background-color: var(--purple);
  border: none;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.25);
  color: var(--white);
  padding: 1em 3.5em;
  border-radius: 0.5em;
  transition-duration: 0.4s;
}

#form .submitButton > button {
  margin: 0.5em;
}

#form button:hover {
  background-color: var(--light-purple);
  color: var(--white);
}

select {
  font-size: 0.8em;
  padding: 0.6em 0.5em 0.6em 0.8em;
  background: var(--white);
  border: 0.06em solid var(--very-light-grey);
  border-radius: 0.3em;
  overflow: hidden;
  position: relative;
  min-width: 200px;
  font-size: 14px;
}

select:hover {
  background-color: var(--light-grey);
}

option {
  background: #f5f5f5;
}

  .hero-heading{
    /* 72px using 16px = 1em */
    font-size: 4.5em;

    /* 16px */
    line-height: 1em;
    text-align: center;
    font-weight: 500;

    /* 0.8px */
    margin-bottom: 0.05em;

    /* 0px */
    margin-top: 0em;
}

.hero-sub-heading{
    text-align: center;
    font-weight: 500;

    /* 24px  */
    font-size: 1.5em;

    /* 0px  */
    margin-top: 0em;

    /* 8px  */
    margin-bottom: 0.5em;
}
.hero-svg-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /* 16px  */
    margin-top: 1em;
}

.hero-svg{
    /* 400px  */
    width: 25em;
}

.hero-button{
    border: none;
    color: #fff;

    /* 140px  */
    width: 8.75em;

    /* 40px  */
    height: 2.5em;

    /* 24px  */
    font-size: 1.5em;
    background: #6C63FF;

    /* 11.2px  */
    border-radius: 0.7em;

    /* 16px  */
    margin-top: 1em;
    margin-bottom: 1em;
}
#cardContainer {
  display:none;
}

#cardContainer.display {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  width:80%;
  margin:auto;
  padding:1.5em;
}
.card-wrapper{
  display:flex;
  flex-direction:row;

}
.card{
  display:flex;
  flex-direction:column;
  width:30%;
  box-shadow: 0 0 50px #ccc;
  border-radius:20px;
  margin: 10px;
  margin-bottom: 40px;
}

.card:hover {
  background: #fee0ed;
}



.cardImage{
  width:100%;
  height:200px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  
}

.card:hover .cardImage {
  transform: scale(1.02);
  transition: all .5s;
}

.catDetails{
  padding:5px;
  flex-grow:1;

}

.card h1 {
  text-align: center;
}
.card:hover  h1 {
  color: white;
  -webkit-text-stroke: 1px #1a1717;
  -webkit-text-fill-color: white;

  text-shadow: 3px 2px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey
}

.catDetails__inner {
  padding: 20px;
}

.catDetails__inner a.flexible {
  color: var(--dark-grey);
  font-size: 16px;
  text-align: center;
  width: 100%;
  font-weight: bold;

}

.catDetails__inner a.flexible:hover,
.catDetails__inner a.flexible:visited {
  color: var(--purple);
}

@media only screen and (min-width: 48em) {
  .intro p {
    font-size: 20px;
  }

  #form {
    width: 80%;
    padding: 2em;
  }
  #form button {
    width: 50%;
  }
  .formInstructions {
    font-weight: bold;
    font-size: 1em;
  }
  .hero-section {
    /* 640px  */
    height: 40em;
  }
  .hero-heading{
    /* 112px  */
    font-size: 7em;
    text-align: center;
    font-weight: 500;


    /* 1.44px  */
    margin-bottom: 0.09em;

    /* 5px  */
    margin-top: 0.3125em;
}

.hero-sub-heading{
    text-align: center;
    font-weight: 500;

    /* 32px  */
    font-size: 2em;

    /* 16px  */
    margin-top: 1em;

    /* 0px  */
    margin-bottom: 0em;
}
.hero-svg-section{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    /* 32px  */
    margin-top: 2em;
}

.hero-svg{
    /* 480px  */
    width: 30em;
}

.hero-button{
    border: none;
    color: #fff;

    /* 140px  */
    width: 8.75em;

    /* 40px  */
    height: 2.5em;

    /* 24px  */
    font-size: 1.5em;
    background: #6C63FF;

    /* 11.2px  */
    border-radius: 0.7em;
}
}

@media only screen and (min-width: 64.5em) {
  .intro {
    font-size: 1.4em;
  }

  #form {
    width: 55%;
    padding: 3em;
  }

  #form section {
    padding: 1.5em;
  }

  #form fieldset div {
    font-size: 1.2em;
  }

  .formInstructions {
    font-size: 1.4em;
  }

  .allCatsSection {
    font-size: 1.2em;
  }
  #form h2 {
    font-size: 2.2em;
  }
  #form h4 {
    font-size: 1.3em;
  }

  #form button {
    font-size: 1.3em;
  }

  .hero-section {
    /* 800px  */
    height: 50em;
  }

  .hero-heading{
    /* 144px  */
    font-size: 9em;
    text-align: center;
    font-weight: 500;

    /* 0.144px  */
    margin-bottom: 0.009em;

    /* 0.08px  */
    margin-top: 0.005em;
}

.hero-sub-heading{
    text-align: center;
    font-weight: 500;

    /* 48px  */
    font-size: 3em;

    /* 0.8px  */
    margin-top: 0.05em;
}
.hero-svg-section{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    /* 32px  */
    margin-top: 2em;
}

.hero-svg{
    /* 640px  */
    width: 40em;
}

.hero-button{
    border: none;
    color: #fff;

    /* 172px  */
    width: 10.75em;

    /* 42px  */
    height: 2.625em;

    /* 36px  */
    font-size: 2.25em;
    background: #6C63FF;

    /* 14px  */
    border-radius: 0.875em;
}
}

footer button {
  background: var(--white);
  color: var(--black);

  text-decoration: underline;
  border: none;
}

#modal {
  display: none;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 0.4em;
  /* Glassmorphism effect */
  color: var(--dark-grey);
  background: var(--modal-light-grey);
  border-radius: 16px;
  box-shadow: 0 4px 30px var(--modal-shadow);
  backdrop-filter: blur(11px);
  border: 25px solid var(--modal-border);

  width: 80%;
  height: 80%;
  z-index: 5;
}

#modal a {
  color: var(--dark-sea-green);
}

#modal a:visited {
  color: var(--purple);
}

#modal h1 {
  font-size: 1.2em;
  text-align: center;
  color: var(--dark-grey);
}

#modal p,
#modal button {
  font-size: 0.9em;
}

#modal p {
  padding: 0 0.5em;
}

footer button,
#modal button {
  cursor: pointer;
}

#modal button {
  background: var(--light-sea-green);
  color: var(--white);

  letter-spacing: 0.04em;
  text-decoration: none;

  margin-top: 0.75em;
  padding: 1em 1.5em;

  border: none;
  border-radius: 0.5em;

  transition-duration: 0.4s;
}

#modal button:hover {
  background: var(--purple);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0.5em 2em 1em;
  height: 80%;
}

.scroll-top-wrapper {
  display: flex;
  justify-content: center;
}

.scroll-top {
  background: var(--purple);
  color: white;
  text-decoration: none;
  margin-top: 0.75em;
  padding: 1em 1.5em;
  border: none;
  border-radius: 0.5em;
}

.scroll-top:hover {
  background-color: var(--light-purple);
}

footer {
  margin: 1em;

  display: flex;
  flex-direction: column;
}

.footer-link,
.copyright {
  text-align: center;
}

.footer-link {
  font-size: 18px;
}

.heart-icon {
  font-size: 30px;
}

.copyright {
  margin-top: 10px;
  font-size: 13px;
}

.heart-icon {
  color: var(--purple);
}

.site-link {
  display: inline-block;
  margin: 0;
  text-decoration: none;
  color: var(--purple);
  padding: 2.5px;
}

.site-link:after {
  display: block;
  content: '';
  border-bottom: solid 3px var(--light-purple);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.site-link:hover:after {
  transform: scaleX(1);
}

.site-link:active {
  color: var(--light-sea-green);
}

.site-link:visited {
  color: var(--dark-sea-green);
}

.site-link:visited::after {
  border-bottom-color: var(--dark-sea-green);
}
/* Preloader styles */

.loader {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 250px;
  width: 250px;
}

.loader.display {
  display: block;
}
